* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F6F0EB;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: inherit;
}

a {
    text-decoration-line: none;
    color: inherit;
}

header {
    background-color: #fff;
    padding: 24px;
    
}

.header-content {
    max-width: 1290px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

nav {
    display: flex;
    /* max-width: 1290px; */
}

nav a {
    font-weight: 700;
    font-size: 20px;
    color: #492118;
}

nav a+a {
    margin-left: 60px;
}

.logo {
    width: 50px;
}

img {
    width: 100%;
}

main {
    padding: 0 24px;
}

.hero-section {
    margin-top: 100px;
}

.img-container {
    max-width: 1290px;
    margin: 0 auto;
}

.hero-section p {
    color: #492118;
    text-align: center;
    font-size: 24px;
}

.section {
    margin-top: 115px;
}

.section .img-container {
    max-width: 960px;
}

.section h2 {
    font-weight: 700;
    font-size: 48px;
    color: #492118;
    text-align: center;
    font-family: "Poppins";
}

.go-to-top {
    text-align: right;
    max-width: 960px;
    margin: 0 auto;
    font-size: 32px;
    margin-top: 80px;
}

.go-to-top a {
    text-decoration-line: underline;
}

.footer-text {
    text-align: center;
    color: #858585;
    font-size: 24px;
    margin-top: 32px;
}

.close-icon{
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    display: none;
}

.humburger-menu-container{
    overflow: hidden;
    position: relative;
    width: 100px;
    height: 100px;
    display: none;
}

.humburger-menu{
    width: 200px;
    height: 200px;
    /* display: flex;
    align-items: flex-end; */
    /* justify-content: center; */
    position: absolute;
    border-radius: 50%;
    top: -100px;
    right: -100px;
    background-color: white;
    cursor: pointer;
}

.humburger-icon{
    font-size: 32px;
    position: absolute;
    bottom: 40px;
    left: 40px;
    /* color: white; */
}

/* --------------------                    media query */

@media(max-width: 1200px){
    nav a{
        font-size: 16px;
    }
    nav a+a {
        margin-left: 48px;
    }
    header {
        padding: 16px 24px;
    }
}

@media(max-width: 960px){
    nav a{
        font-size: 12px;
    }
    nav a+a {
        margin-left: 32px;
    }
    .hero-section{
        margin-top: 32px;
    }
    .section{
        margin-top: 42px;
    }
    .hero-section p{
        font-size: 10px;
    }
    .section h2{
        font-size: 14px;
    }
}

/* --------------------------MOBILE k liye---------------------------- */

@media(max-width: 768px){
    header{
        background-color: #f6f0ebc8;
        position: sticky;
        backdrop-filter: blur(8px);
        top: 0;
    }
    .header-content{
        min-height: 100px;
    }
    nav{
        position: absolute;
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(8px);
        flex-direction: column;
        padding: 24px;
        right: 24px;
        top: 24px;
        display: none;
    }

    nav a+a{
        margin: 0;
        margin-top: 16px;
    }
    .close-icon{
        display: block;
    }
    .humburger-menu-container{
        display: block;
    }

    .menu-open nav{
        display: flex;
    }
    .menu-open .humburger-menu-container{
        display: none;
    }
    .go-to-top {
        font-size: 12px;
        margin-top: 40px;
      }
    
      .footer-text {
        font-size: 10px;
        margin-top: 32px;
      }
    
      .logo {
        width: 30px;
      }
    
}